<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="minesms.app"
    package="com.w4.bangbang93hub">

    <uses-permission android:name="android.permission.MANAGE_WIFI_NETWORK_SELECTION"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>

    <uses-permission android:name="android.permission.MANAGE_WIFI_INTERFACES"/>

    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>

    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>

    <uses-permission android:name="android.permission.REBOOT"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <uses-permission android:name="android.permission.BIND_VR_LISTENER_SERVICE"/>

    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED"/>

    <uses-permission android:name="android.permission.BROADCAST_SMS"/>

    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH"/>

    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>

    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <uses-permission android:name="android.permission.DIAGNOSTIC"/>

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <uses-permission android:name="android.permission.FACTORY_TEST"/>

    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER"/>

    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"/>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <uses-permission android:name="android.permission.LOADER_USAGE_STATS"/>

    <uses-permission android:name="android.permission.MASTER_CLEAR"/>

    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>

    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>

    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.READ_ASSISTANT_APP_SEARCH_DATA"/>

    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_INPUT_STATE"/>

    <uses-permission android:name="android.permission.READ_NEARBY_STREAMING_POLICY"/>

    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_APP_STREAMING"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_COMPUTER"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_AUTOMOTIVE_PROJECTION"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_SELF_MANAGED"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND"/>

    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND"/>

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE"/>

    <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY"/>

    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <uses-permission android:name="android.permission.SIGNAL_PERSISTENT_PROCESSES"/>

    <uses-permission android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND"/>

    <uses-permission android:name="android.permission.START_VIEW_APP_FEATURES"/>

    <uses-permission android:name="android.permission.START_VIEW_PERMISSION_USAGE"/>

    <uses-permission android:name="android.permission.STATUS_BAR"/>

    <uses-permission android:name="android.permission.SUBSCRIBE_TO_KEYGUARD_LOCKED_STATE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@drawable/bangbang"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <activity
            android:exported="true"
            android:label="看图"
            android:icon="@drawable/bangbang"
            android:name="com.w4.bangbang93hub.ImageViewActivity"/>

        <activity
            android:exported="true"
            android:label="本产品由Apache License 2.0保护。"
            android:name="License"/>

        
        <activity 
            android:name=".AboutActivity"
            android:icon="@drawable/bangbang"
            android:label="关于">
        <intent-filter>
            <action android:name="com.w4.bangbang93hub.SHOW_ABOUT" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        
        
        <activity
            android:name="CustomAlertDialogActivity"
            android:exported="true" />

    </application>

</manifest>
